/* GoogleMapsPage.css */
.maps-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white; 
  }
  
  .map-container {
    width: 700%;
    height: 1000px; 
    position: relative;
    z-index: 1; 
  }
  
  